ion-content{
    form{
        .form-group{
            display: flex;
            flex-direction: column;
            label{
                margin: 12px;
            }
            input{
                margin: 12px;
                padding: 7px;
                color: black;
                background-color: white;
            }
        }
        .action{
            display: flex;
            justify-content: center;
            margin-top: 30px;
            button{
                padding: 13px;
                width: 90px;
                margin-left: 5px;
                border-radius: 10px;

            }
        }
    }
}