<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!this.id">Thêm nhân viên</ion-title>
    <ion-title *ngIf="this.id">Chi tiết nhân viên</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="id">Id</label>
      <input type="number" formControlName="id" class="form-control">
    </div>
    <div class="form-group">
      <label for="user">User Name</label>
      <input type="text" formControlName="user" class="form-control">
    </div>
    <div class="form-group">
      <label for="pass">Pass Word</label>
      <input type="text" formControlName="pass" class="form-control">
    </div>
    <div class="action">
      <button *ngIf="this.id" (click)="delete()" style="background-color: red; color: white;">Xóa</button>
      <button *ngIf="!this.id" (click)="save()" style="background-color: blue; color: white;">Lưu</button>
      <button *ngIf="this.id" (click)="saveChange()" style="background-color: blue; color: white;">Lưu</button>
      <button (click)="cancel()"style="background-color: red; color: white;">Cancel</button>
    </div>
  </form>
</ion-content>