<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!this.id">Thêm nhân viên</ion-title>
    <ion-title *ngIf="this.id">Chỉnh sửa nhân viên</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="maNv">Mã Nhân Viên</label>
      <input type="number" formControlName="maNv" class="form-control">
    </div>
    <div class="form-group">
      <label for="hoTen">Họ và tên</label>
      <input type="text" formControlName="hoTen" class="form-control">
    </div>
    <div class="form-group">
      <label for="danToc">Dân Tộc</label>
      <input type="text" formControlName="danToc" class="form-control">
    </div>
    <div class="form-group">
      <label for="gioiTinh">Giới tính</label>
      <input type="text" formControlName="gioiTinh" class="form-control">
    </div>
    <div class="form-group">
      <label for="diaChi">Địa chỉ</label>
      <input type="text" formControlName="diaChi" class="form-control">
    </div>
    <div class="form-group">
      <label for="danToc">Ngày sinh</label>
      <!-- <input type="text" formControlName="ngaySinh" class="form-control"> -->
      <ion-datetime formControlName="ngaySinh" value="2019-10-01T15:43:40.394Z" display-timezone="utc"></ion-datetime>
    </div>
    <div class="form-group">
      <label for="soDT">Số điện thoại</label>
      <input type="text" formControlName="soDT" class="form-control">
    </div>
    <div class="form-group">
      <label for="maCv">Mã Công Việc</label>
      <input type="text" formControlName="maCv" class="form-control">
    </div>
    <div class="form-group">
      <label for="maPb">Mã phòng ban</label>
      <input type="text" formControlName="maPb" class="form-control">
    </div>
    <div class="form-group">
      <label for="bacLuong">Bậc lương</label>
      <input type="text" formControlName="bacLuong" class="form-control">
    </div>
    <div class="action">
      <button *ngIf="this.id" (click)="delete()" style="background-color: red; color: white;">Xóa</button>
      <button *ngIf="!this.id" (click)="save()" style="background-color: blue; color: white;">Lưu</button>
      <button *ngIf="this.id" (click)="saveChange()" style="background-color: blue; color: white;">Lưu</button>
      <button (click)="cancel()"style="background-color: red; color: white;">Cancel</button>
    </div>
  </form>
</ion-content>
