ion-content{
    ion-list{
        padding: 10px;
        ion-item{
            display: flex;
            padding: 22px;
            padding: 0 !important;
            margin-top: 10px;
            margin-bottom: 7px;
            .block{
                img{
                    width: 54px;
                    border: 1px solid;
                    border-radius: 42px;
                    margin-bottom: 10px;
                }
            }
            .title{
                display: flex;
                flex-direction: column;
                padding: 11px;
                margin-bottom: 10px;
            }
        }
    }
}