<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Quản lý nhân viên</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let data of dataUser">
    <ion-item (click)="employeedetail(data.MaNv)">
      <div class="block">
        <img src="assets/icon/avatar.jpg"/>
      </div>
      <div class="title">
        <span>{{data.HoTen}}</span>
        <span>Giới tính: {{data.GioiTinh}}</span>
        <span>Lương: {{data.LuongCB}}</span>
      </div>
    </ion-item>
    
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="adduser()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
