<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Quản lý tài khoản</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngFor="let data of dataUser">
    <ion-item (click)="userdetail(data.matk)">
      <div class="block">
        <img src="assets/icon/avatar.jpg"/>
      </div>
      <div class="title">
        <span>{{data.username}}</span>
      </div>
    </ion-item>
    
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="adduser()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>