ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-content{
  main{
    background: white;
  }
  .login{
    padding: 20px;
    margin-top: 135px;
    display: flex;
    flex-direction: column;
    .title{
      text-align: center;
      margin-bottom: 15px;
      span{
        font-size: 30px;
      }
    }
    .button{
      display: flex;
      flex-direction: column;
      input{
        padding: 10px;
        margin-bottom: 15px;
        color: black;
        background-color: white;
      }
    }
    button{
      padding: 14px;
      background-color: crimson;
      color: white;
    }
  }
}