<ion-content [fullscreen]="true">
   <div class="login">
     <div class="title">
       <span>ĐĂNG NHẬP</span>
     </div>
     <div class="button">
       <input type="text" placeholder="Tên nhân viên">
       <input type="text" placeholder="Mật khẩu">
     </div>
     <button (click)="gotohome()">Đăng Nhập</button>
   </div>
</ion-content>
